set meta-flag on
set input-meta on
set output-meta on
set convert-meta off
set bell-style visible

"\C-n":history-search-forward
"\C-p":history-search-backward
"\e[A":history-search-backward
"\e[B":history-search-forward
